 <div>
     <span style="font-size: 19px;">DESOLE !!! </span><br/>
     La fiche de requête n'a pu être éditer à cause des raisons de confidentialité non conforme à celles que vous avez renseigné.<br/>Veuillez re-essayer ultérieurement ou vous rapproché de la SRU...
      </div>